# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/Tecnologie/Laboratorio/10-12_Java/Server/nbproject/private/
/Tecnologie/Laboratorio/10-12_Java/Server/build/
/Tecnologie/Laboratorio/10-12_Java/Client/nbproject/private/
/Tecnologie/Laboratorio/10-12_Java/Client/build/
/Tecnologie/Laboratorio/10-19_Socket05/ServerMaiu/nbproject/private/
/Tecnologie/Laboratorio/10-19_Socket05/ClientMaiu/nbproject/private/
/Tecnologie/Laboratorio/10-19_Socket05/ServerMaiu/build/
/Tecnologie/Laboratorio/10-19_Socket05/ClientMaiu/build/
/Tecnologie/Laboratorio/10-19_Socket06/ServerThread/nbproject/private/
/Tecnologie/Laboratorio/10-23_EsRaimo/Server/nbproject/private/
/Tecnologie/Laboratorio/10-23_EsRaimo/Client/nbproject/private/
/Tecnologie/Laboratorio/10-23_EsRaimo/Server/build/
/Tecnologie/Laboratorio/10-23_EsRaimo/Client/build/
/Tecnologie/Laboratorio/10-19_Socket06/ServerThread/build/
/Tecnologie/Laboratorio/10-19_Socket06/ClientThread/nbproject/private/
/Tecnologie/Laboratorio/10-19_Socket06/ClientThread/build/
/Tecnologie/Laboratorio/10-26_ServerRisponde/Server/nbproject/private/
/Tecnologie/Laboratorio/10-26_ServerRisponde/Server/build/
/Tecnologie/Laboratorio/10-26_ServerRisponde/ClientChat/nbproject/private/
/Tecnologie/Laboratorio/10-26_ServerRisponde/ClientChat/build/
/Tecnologie/Laboratorio/10-23_EsRaimo/Server05/nbproject/private/
/Tecnologie/Laboratorio/10-23_EsRaimo/Client05/nbproject/private/
/Tecnologie/Laboratorio/10-23_EsRaimo/Server05/build/
/Tecnologie/Laboratorio/10-23_EsRaimo/Client05/build/
/Tecnologie/Laboratorio/11-02_tombola/TombolaClient/nbproject/private/
/Tecnologie/Laboratorio/11-02_tombola/TombolaServer/nbproject/private/
/Tecnologie/Laboratorio/11-02_tombola/TombolaClient/build/
/Tecnologie/Laboratorio/18-1_StampaNome_/StampaNome/nbproject/private/
/Tecnologie/Laboratorio/18-1_StampaNome_/StampaNome/build/
/Tecnologie/Laboratorio/1_18_Vari/Calcolatrice/nbproject/private/
/Tecnologie/Laboratorio/1_18_Vari/Calcolatrice/build/
/Informatica/JavaDB/01-19_Magazzino/Magazzino/nbproject/private/
/Informatica/JavaDB/01-19_Magazzino/Magazzino/build/
